{% extends "layout.njk" %}
{% block  content %}
<main>
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    <p>Detta är dock statisk text. Följt av data från databas.</p>
    <ul>
        {% for row in rows %}

        <li class="d-flex">
            <div>
            {{ row.name }}
            <br>
            {{ row.secret_identity }}
            <br>
            {{ row.bio }}
            {{ row.age }}
            {{ row.email }}
            {{ row.bank_password }}
            {{ row.bank_username }}
            <br>
            </div>
        </li>
        
        {% endfor %}
    </ul>
</main>
{% endblock %}%