{% extends "layout.njk" %}
{% block  content %}
<main>
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    <p>Detta är dock statisk text. Följt av data från databas.</p>
    <ul>
        {% for row in rows %}

        <li>
            <div class="d-flex">
            {{ row.name }}
            <br>
            {{ row.secret_identity }} 
            {{ row.bio }}
            <img src = "/img/Friterad_Stefan.png">
            </div>
        </li>
        
        {% endfor %}
    </ul>
</main>
{% endblock %}%